.main
/* {
    height: 500px;
    width: 500px;
    /* border: 2px solid rgb(0, 0, 0); */
    /* margin: auto;
    margin-top: 11%;
    background-color: aqua;
} */ */
{
    height: 500px;
    width: 500px;
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 35%;
    /* border-radius: 50px; */
    background-color:tan;
    /* box-shadow: 10px 0px 50px red; */
}
body{
  background-color: tan;
  animation-name: example;
     animation-duration: 1s;
     animation-iteration-count: infinite;
}

.face
{
    height: 120px;
    width: 110px;
    background:linear-gradient(rgb(17, 255, 0),rgb(83, 255, 101),rgb(177, 255, 190));
    display: flex;
    border-radius: 200px 200px 200px 200px;
    margin-top: 70px;
    margin-left: 190px;
    position: relative;
}
.face
{
    
    animation: changeface 2s infinite ease-in-out;
}
/* @keyframes changeface
{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(270deg);}
    100%{transform: rotate(360deg);}
} */
.leye,.reye
{
    height: 12px;
    width: 12px;
    background: rgb(4, 17, 19);
    border-radius: 50%;
}
.eyes
{
    display: flex;
    justify-content: space-evenly;
    margin-left: 21px;
    gap: 45px;
    margin-top: 50px;
}
.mouth{
    height: 20px;
    width: 60px;
    background:linear-gradient(rgb(0, 0, 0));
    display: flex;
    border-radius: 200px 200px 500px 500px;
    margin-top: 30px;
    margin-left: -108px;
    position: relative;
}
.body
{
    height: 175px;
    width: 110px;
    background:linear-gradient(rgb(0, 255, 55),rgb(72, 255, 90),rgb(155, 255, 172));
    border-radius: 400px 400px 400px 400px;
    margin-left: 190px;
    margin-top: 5px;
}
.lhand
{
    height: 80px;
    width: 22px;
    background:linear-gradient(rgb(147, 65, 255),rgb(25, 0, 255),rgb(86, 113, 220));
    border-radius: 10px;
    margin-left: 164px;
    margin-top: -130px;
}
.lhand
{
    animation: changelhand 0.9s infinite ease-in-out;
    transform-origin: top center;
}
@keyframes changelhand
{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(45deg);}
    50%{transform: rotate(-45deg);}
    100%{transform: rotate(0deg);}
}
.rhand
{
    height: 80px;
    width: 22px;
    background:linear-gradient(rgb(147, 65, 255),rgb(25, 0, 255),rgb(86, 113, 220));
    border-radius: 10px;
    margin-left: 305px;
    margin-top: -80px;
}
.rhand
{
    animation: changerhand 0.9s infinite ease-in-out;
    transform-origin: top center;
}
@keyframes changerhand
{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(-45deg);}
    50%{transform: rotate(45deg);}
    100%{transform: rotate(0deg);}
}
.hand
{
    display: flex;
}
.lleg
{
    height: 80px;
    width: 22px;
   background:linear-gradient(rgb(147, 65, 255),rgb(25, 0, 255),rgb(86, 113, 220));
    border-radius: 10px;
    margin-left: 200px;
    margin-top: 50px;
}
.lleg
{
    animation: changerlleg 0.9s infinite ease-in-out;
    transform-origin: top center;
}
@keyframes changerlleg
{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(-45deg);}
    50%{transform: rotate(45deg);}
    100%{transform: rotate(0deg);}
}
.rleg
{
    height: 80px;
    width: 22px;
   background:linear-gradient(rgb(147, 65, 255),rgb(25, 0, 255),rgb(86, 113, 220));
    border-radius: 10px;
    margin-top: -79px;
    margin-left: 268px;
}
.rleg
{
    animation: changerrleg 0.9s infinite ease-in-out;
    transform-origin: top center;
}
@keyframes changerrleg
{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(45deg);}
    50%{transform: rotate(-45deg);}
    100%{transform: rotate(0deg);}
}
.leg
{
    display: flex;
}

